$color1: #00b7b3;
$green2: rgb(0, 253, 148);
$green1: rgb(2, 172, 81);
$green1: rgb(2, 172, 81);
$yellow1: rgb(165, 130, 53);
$blue1: rgb(123, 136, 155);
$red2: rgb(74, 18, 16);
$white1: rgb(219, 201, 185);
$white2: rgba(140, 138, 138, 0.507);
$black1: rgb(31, 31, 31);
$black2: rgb(10, 10, 10);
$shadow: 4px 5px 15px rgba(217, 214, 214, 0.507);
$shadow1: 4px 2px 6px rgba(127, 162, 197, 0.6);
